* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Nexa';
    src: url('fonts/Nexa-Regular.ttf') format('truetype');
    font-weight: normal;
}

html, body {
    width: 100%;
    overflow-x: hidden; 
}

.contenedor-principal {
    max-width: 100%; 
    padding: 0 15px; 
}

img, iframe {
    max-width: 100%; 
    height: auto;
}

.superior {
    height: 200px;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    padding: 0 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.logo-container {
    width: 100%;
    margin-bottom: 20px;
}

.menu { 
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    align-items: center;
    font-size: 20px;
    width: 100%;
    justify-content: center;
    gap: 20px; 
    font-family: 'Rubik', sans-serif;
}

.menu .nav-link {
    text-decoration: none;
    color: #333333;
    transition: color 0.3s;
    font-family: 'Rubik', sans-serif;
}

.menu .nav-link:hover {
    text-decoration: none;
    color: rgba(130,54,73,255);
    transition: color 0.3s;
}

.inicio {
    margin-bottom: 80px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    font-family: 'Rubik', sans-serif;
}

.titulo {
    width: 40%;
    padding: 4% 0;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(236, 232, 232);
    box-shadow: 5px 5px 15px #000000da;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
}

.titulo-2 {
    width: 50%;
    padding: 4% 2%;
    margin: auto;
    margin-bottom: 4%;
    text-align: center;
    background-color: rgb(236, 232, 232);
    box-shadow: 5px 5px 15px #000000da;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
}

.informacion {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    text-align: center;
}

.cua-1, .cua-2 {
    margin-left: 3%;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 46%;
    height: 45%;
    background-color: rgb(236, 232, 232);
    box-shadow: 5px 5px 15px #000000da;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
}

.cua-3 {
    margin: 0 auto;
    width: 50%;
    height: 30%;
    background-color: rgb(236, 232, 232);
    box-shadow: 5px 5px 15px #000000da;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
}

.formas-trabajo {
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #9b465b;
}

.puntos-clave {
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: rgb(98,100,100);
}

.punto-1, .punto-2, .punto-3 {
    margin: 0 auto;
    width: 30%;
    height: 55%;
    margin-bottom: 3.5%;
    padding-bottom: 2%;
    background-color: rgb(236, 232, 232);
    box-shadow: 5px 5px 15px #000000da;
    padding-right: 1%;
    padding-left: 1%;
    border-radius: 20px;
    padding-top: 3%;
    padding-bottom: 4%;
    font-family: 'Rubik', sans-serif;
}

.punto-4{
    margin-left: 17%;
    background-color: rgb(236, 232, 232);
    box-shadow: 5px 5px 15px #000000da;
    width: 30%;
    padding-top: 3%;
    padding-bottom: 4%;
    padding-right: 1%;
    padding-left: 1%;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
}

.punto-5 {
    margin-left: 7%;
    background-color: rgb(236, 232, 232);
    box-shadow: 5px 5px 15px #000000da;
    width: 30%;
    padding-top: 3%;
    padding-bottom: 4%;
    padding-right: 1%;
    padding-left: 1%;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
}

.puntos {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    text-align: center;
}

.icon-pc {
    height: 5rem;
    width: 5rem;
    margin: 5%;
}

.tit-1, .tit-2, .tit-3 {
    margin-bottom: 3%;
}

.socialmedia-tittle {
    margin-top: 10%;
    color: rgba(130,54,73,255);
    font-size: 3rem;
}

.icons a {
    color: white; 
    text-decoration: none; 
    transition: color 0.3s; 
}

.icon-youtube, .icon-linkedin, .icon-instagram, .icon-facebook, .icon-home{
    font-size: 3rem;
    text-align: center;
} 

.icon-home a{
    color: black; /* Cambia el color del icono a negro */
    text-decoration: none; /* Elimina la línea debajo del enlace */
    
}

.icon-home a:hover{
    text-decoration: underline;
    transition: 0.5s;
}


.linkedin:hover {
    transform: scale(1.1);
}

.facebook:hover {
    transform: scale(1.1);
}

.instagram:hover {
    transform: scale(1.1);
}

.youtube:hover {
    transform: scale(1.1);
}

.link-politica{
    padding-left: 35%;
    font-size: 80%;
}

footer {
    background-color: #000000dc;
    color: rgb(236, 232, 232);
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Rubik', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

.footer-section h3 {
    padding-bottom: 1rem;
    color: rgb(236, 232, 232);
    border-bottom: 2px solid rgb(236, 232, 232);
    text-align: center;
}

.footer-section p {
    margin: 10% 0;
    text-align: center;
    font-size: 80%;
}

.footer-section a {
    color: rgb(236, 232, 232);
    text-decoration: none;
    margin: 10% 0;
    text-align: center;
    font-size: 105%;
}

.mail-link {
    color: rgb(236, 232, 232);
    text-decoration: none;
    margin: 10% 0;
    text-align: center;
    font-size: 80%;
}


.footer-section a:hover {
    text-decoration: underline;
    color: rgb(236, 232, 232);
}

.footer-bottom {
    text-align: center;
    margin-top: 2%;
}

@media (min-width: 768px) {
    .contenedor-principal {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto; 
        padding: 0 20px;
    }
}

@media (min-width: 768px) { 

    .icon-home {
        margin-right: 19%;
    }

    .terminos {
        font-size: 12px; 
        height: 40px;    
    }

    .logo-container {
        width: auto;
        margin-left: 120px;
    }
    
    .mision, .vision {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mision {
        flex-direction: row-reverse; 
    }

    .title-mision {
        order: 2; 
        width: 50%;
        text-align: right; 
    }

    .text-mision {
        order: 1; 
        width: 50%;
        text-align: left; 
    }

    .vision {
        flex-direction: row-reverse; 
    }

    .title-vision {
        order: 2;
        width: 50%;
        text-align: right;
    }

    .text-vision {
        order: 1;
        width: 50%;
        text-align: left;
    }

    .inicio {
        margin-bottom: 150px;
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-around; 
    }


   

    .text-perfect-circle {

        text-align: left; 
        font-size: 1.1em; 
        align-items: center;
        height: 400px;
        line-height: 1.5; 
    }
    
    
    .superior {
        flex-direction: row; 
        justify-content: space-between;
        padding: 0 50px;
        height: 150px; 
    }

    .logo-container {
        width: auto; 
        margin: 0; 
    }

    .menu {
        justify-content: flex-end; 
        gap: 30px; 
        margin-right: 15%;
        font-size: 22px; 
    }
}


@media (min-width: 1024px) { 

    .terminos {
        font-size: 14px;
        height: 50px;    
    }

    .logo-container {
        width: auto;
        margin-left: 120px;
    }
    
    
    .mision, .vision {
        justify-content: space-between;
        width: 80%; 
    }

    .title-mision, .text-mision, .title-vision, .text-vision {
        width: 50%;
    }
    
    .superior {
        height: 120px; 
        padding: 0 100px; 
    }

    .menu {
        font-size: 24px; 
        gap: 40px; 
    }

    .inicio {
        padding: 50px; 
        justify-content: space-between; 
    }

    .imagen1-pc, .imagen2-pc, .imagen3-pc, .text-perfect-circle {
        width: 40%; 
        margin-bottom: 40px;
    }

    
    .imagen3-pc {
        margin-left: 1%; 
        margin-right: 5%; 
        height: 300px;
    }

 
    .text-perfect-circle {
        text-align: left; 
        margin-left: 5%; 
        font-size: 1.2em;
    }

    .servicios {
        flex-direction: row;
        justify-content: space-between; 
        flex-wrap: wrap;
        padding: 0 80px; 
    }

    .compras, .tyd, .aduanas, .implementacion {
        width: 20%; 
        margin-bottom: 0;
        margin-top: 20px;
        height: 500px; 
    }

    /* Ajuste para imágenes y títulos */
    .compras-img, .tyd-img, .aduanas-img, .implementacion-img {
        height: 150px;
    }

    .compras-tittle, .tyd-tittle, .aduanas-tittle, .implementacion-tittle {
        font-size: 1.2em;
    }

    
    .compras-btn, .tyd-btn, .aduanas-btn, .implementacion-btn {
        position: absolute;
        bottom: 20px; 
        width: 100%;
        display: flex;
        justify-content: center; 
    }

    .com-inv-btn, .tyd-inv-btn, .aduanas-inv-btn, .implementacion-inv-btn {
        height: 35px;
        width: 50%; 
    }

    .link-politica{
        padding-left: 35%;
        font-size: 110%;
    }
    .mail-link {
        color: rgb(236, 232, 232);
        text-decoration: none;
        margin: 10% 0;
        text-align: center;
        font-size: 105%;
    }
    .footer-section p {
        margin: 10% 0;
        text-align: center;
        font-size: 110%;
    }
}
