* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Nexa';
    src: url('fonts/Nexa-Regular.ttf') format('truetype');
    font-weight: normal;
}

.container form {
    outline: auto;
    outline-color: gray;
    outline-style: dashed;
    outline-width: thin;
    font-family: 'Rubik', sans-serif;
}

.imagenes {
    width: 3rem;
    height: auto;
    display: block;
    margin: auto;
}

.form-floating textarea {
    width: 100%;
}

.navbar-nav {
    text-decoration: none;
    color: #333333;
    transition: color 0.3s;
    width: 45%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 23px;
}

.navbar-nav:hover {
    text-decoration: none;
    color: rgba(130,54,73,255);
    transition: color 0.3s;
}

.socialmedia-tittle {
    margin-top: 10%;
    color: rgba(130,54,73,255);
    font-size: 3rem;
}

.icons a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.icon-youtube, .icon-linkedin, .icon-instagram, .icon-facebook, .icon-home{
    font-size: 3rem;
    text-align: center;
}

.icon-home a{
    color: black; /* Cambia el color del icono a negro */
    text-decoration: none; /* Elimina la línea debajo del enlace */
    
}

.icon-home a:hover{
    text-decoration: underline;
    transition: 0.5s;
}

.p {
    text-decoration: none;
}

.linkedin:hover {
    transform: scale(1.1);
}

.facebook:hover {
    transform: scale(1.1);
}

.instagram:hover {
    transform: scale(1.1);
}

.youtube:hover {
    transform: scale(1.1);
}

footer {
    background-color: #000000dc;
    color: rgb(236, 232, 232);
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Rubik', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

.footer-section h3 {
    padding-bottom: 1rem;
    color: rgb(236, 232, 232);
    border-bottom: 2px solid rgb(236, 232, 232);
    text-align: center;
}

.footer-section p {
    margin: 10% 0;
    text-align: center;
    font-size: 105%;
}

.footer-section a {
    color: rgb(236, 232, 232);
    text-decoration: none;
    margin: 10% 0;
    text-align: center;
    font-size: 105%;
}

.mail-link {
    color: rgb(236, 232, 232);
    text-decoration: none;
    margin: 10% 0;
    text-align: center;
    font-size: 105%;
}

.footer-section a:hover {
    text-decoration: underline;
    color: rgb(236, 232, 232);
}

.footer-bottom {
    text-align: center;
    margin-top: 2%;
}

@media (max-width: 768px) {
    .BANDERAS {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagenes {
        width: 3rem;
    }
}
