* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Nexa';
    src: url('fonts/Nexa-Regular.ttf') format('truetype');
    font-weight: normal;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

.superior {
    height: 200px;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo{
    text-align: center;
    margin: 2%;
    font-family: 'Rubik', sans-serif;
    font-size: 150%;
    color: rgba(130,54,73,255);

}


.logo-container {
    width: 100%;
    margin-bottom: 20px;
}

.menu { 
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    align-items: center;
    font-size: 20px;
    width: 100%;
    justify-content: center;
    gap: 20px;
    font-family: 'Rubik', sans-serif;
}

.menu .nav-link {
    text-decoration: none;
    color: #333333;
    transition: color 0.3s;
    font-family: 'Rubik', sans-serif;
}

.menu .nav-link:hover {
    text-decoration: none;
    color: rgba(130,54,73,255);
    transition: color 0.3s;
}

.servicios{
    display: flex;
    width: 100%;
}

.menu-ver {
    width: 33%; /* Ancho del menú */
    background-color: #752b2b;
    height: 650px;
    padding-top: 20px;
    font-family: 'Rubik', sans-serif;
}
.menu-ver a {
    color: white;
    text-decoration: none;
    margin-top: 40px;
    padding: 15px 20px;
    font-size: 20px;
    display: block; /* Cada enlace ocupa toda la línea */
}
.menu-ver a:hover {
    background-color: #752b2b; /* Color al pasar el mouse */
}

.content {
    width: 70%;
    padding: 2%;
    background-color: rgb(236, 232, 232);
}

.info {
    align-items: center;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    display: none; /* Ocultar información por defecto */
}

.socialmedia-tittle {
    margin-top: 10%;
    color: rgba(130,54,73,255);
    font-size: 3rem;
    font-family: 'Rubik', sans-serif;
}

.icons a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.icon-home a{
    color: black; /* Cambia el color del icono a negro */
    text-decoration: none; /* Elimina la línea debajo del enlace */
    
}

.icon-home a:hover{
    text-decoration: underline;
    transition: 0.5s;
}

.icon-youtube, .icon-linkedin, .icon-instagram, .icon-facebook, .icon-home{
    font-size: 3rem;
    text-align: center;
}

.linkedin:hover {
    transform: scale(1.1);
}

.facebook:hover {
    transform: scale(1.1);
}

.instagram:hover {
    transform: scale(1.1);
}

.youtube:hover {
    transform: scale(1.1);
}

.link-politica{
    padding-left: 35%;
}

footer {
    background-color: #000000dc;
    color: rgb(236, 232, 232);
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Rubik', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

.footer-section h3 {
    padding-bottom: 1rem;
    color: rgb(236, 232, 232);
    border-bottom: 2px solid rgb(236, 232, 232);
    text-align: center;
}

.footer-section p {
    margin: 10% 0;
    text-align: center;
    font-size: 105%;
}

.footer-section a {
    color: rgb(236, 232, 232);
    text-decoration: none;
    margin: 10% 0;
    text-align: center;
    font-size: 105%;
}

.mail-link {
    color: rgb(236, 232, 232);
    text-decoration: none;
    margin: 10% 0;
    text-align: center;
    font-size: 105%;
}

.footer-section a:hover {
    text-decoration: underline;
    color: rgb(236, 232, 232);
}

.footer-bottom {
    text-align: center;
    margin-top: 2%;
}

@media (min-width: 768px) {
    .superior {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 50px;
        height: 150px;
    }

    .logo-container {
        width: auto;
        margin-left: 120px;
    }

    .menu {
        justify-content: flex-end;
        gap: 30px;
        margin-right: 17%;
        font-size: 22px;
    }
    .titulo{
        font-size: 2rem;
    }
    .icon-home {
        margin-right: 19%;
    }
}

@media (min-width: 1024px) {
    .superior {
        height: 120px;
        padding: 0 100px;
    }

    .menu {
        font-size: 24px;
        gap: 40px;
    }

    .menu-ver {
        width: 15%; /* Ancho del menú */
        background-color: #752b2b;
        height: 810px;
        padding-top: 20px;
        font-family: 'Rubik', sans-serif;
    }
    .menu-ver a {
        color: white;
        text-decoration: none;
        margin-top: 60px;
        text-align: center;
        padding: 15px 20px;
        font-size: 20px;
        display: block; /* Cada enlace ocupa toda la línea */
    }
    .menu-ver a:hover {
        background-color: #471717; /* Color al pasar el mouse */
    }
    .content {
        width: 85%;
        padding: 2%;
        background-color: rgb(236, 232, 232);
    }
    
    .info {
        align-items: center;
        text-align: center;
        font-family: 'Rubik', sans-serif;
        display: none; /* Ocultar información por defecto */
    }

    .titulo{
        font-size: 2rem;
    }
}
